/* Navbar style */
nav.navbar {
    /* margin: 0 0 15px 0; */
    margin: 0 auto;
    max-width: var(--main-width);
}

nav.navbar ul {
    padding: 0;
    margin: 0 auto;

    text-align: center;

    display: flex;
}

nav.navbar ul li {
    display: block;
    position: relative;
    transform: translate(0, 8px);
    border-radius: 10px 10px 0 0;

    font-size: 1.2em;

    flex: initial;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: transform 100ms, background-color 100ms;
}

nav.navbar ul li:hover,
nav.navbar ul li.currentPage {
    background-color: white !important;
    transform: translate(0, 0);
}

nav.navbar ul li.currentPage {
    z-index: 2;
    box-shadow: none;
}

nav.navbar ul li:not(.currentPage) {
    background-color: rgb(240, 240, 240);
}

nav.navbar ul li a {
    display: block;
    padding: 5px 12px 10px 12px;

    color: inherit;
}

nav.navbar ul li a:hover {
    text-decoration: none;
}

/* Main content style */
main.layoutMain {
    margin: 0 auto;
    padding: 18px 20px;
    max-width: var(--main-width);
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    overflow: hidden;

    border-radius: 0px 10px 10px 10px;

    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main.layoutMain.fadeIn *:not(:global(.ignoreFadeIn)) {
    opacity: 0%;

    animation-name: mainChildrenAnim, fadeIn;
    animation-duration: 600ms, 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1), linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mainChildrenAnim {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.0);
    }
}

main.layoutMain ul {
    padding: 0 35px;
}

main.layoutMain ul li {
    margin: 7px 0;
}

/* Footer style */
.copyright {
    margin: 20px 0px;
    text-align: center;
}
