@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital@0;1&display=swap");

/* Variables */
:root {
    --main-width: 680px;
}

/* Common style */
body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;

    background: rgb(238, 192, 106);
    background: linear-gradient(0deg, rgba(238, 192, 106, 1) 0%, rgba(245, 222, 179, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding: 0;
    margin: 15px;
}

h1 {
    margin: 8px 0 20px 0;
}

h2 {
    margin: 8px 0 18px 0;
}

h3 {
    margin: 6px 0 16px 0;
}

p {
    margin: 6px 0 16px 0;
    font-size: 1.1em;
    line-height: 1.25em;
}

a:link {
    color: rgb(16, 77, 148);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 500px) {
    body {
        font-size: 18px;
    }
}