div.homeProfile {
    text-align: center;
}

div.homeProfile * {
    margin: 12px 0;
}

.heading {
    margin: 20px 0;
    text-align: center;
}

img.avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    display: inline;
}

div.languageIconsList, div.socialIconsList {
    display: block;
    text-align: center;
}

div.languageIconsList * {
    display: inline;
    margin: 0 6px;
    width: auto;
    height: 50px;
}

div.socialIconsList * {
    display: inline;
    margin: 0 3px;
    font-size: 50px;
}
