div.sortDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    height: 20px;
}

/* Project list style */
.projectList .projectRow {
    display: block;
    box-sizing: content-box;
    margin: 30px 0 20px 0;
}

.projectList .projectRow:first-child {
    margin-top: 15px;
}

.projectList .projectRow:not(:last-child) {
    padding: 0 0 6px 0;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.projectList .projectRow ul {
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.projectList .projectRow ul li {
    margin: 0;
}

.projectRow img {
    width: 80%;
    max-width: 320px;
    display: block;
    margin: 0 auto 30px auto;

    border-radius: 15px;

    transition-duration: 0.35s;
    transition-property: box-shadow;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.projectRow img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.projectRow h3 {
    text-align: center;
}

.projectRow p {
    text-align: center;
}
